// Resets
// Body
html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: $white;
}

// Header
body > header {
  position: fixed;
  display: flex;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  height: 84px;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  transition: background-color .25s, border .25s;
  align-items: center;
  justify-content: space-between;

  a:first-child {
    font-size: 2.0rem;
    font-weight: 900;
    display: flex;
    align-items: center;

    &:hover svg {
      opacity: 0.7;
    }
  }

  .pill {
    opacity: 0;
    transition: opacity .25s;
  }

  svg {
    width: 60px;
    transition: width .3s, opacity .3s;
    margin-right: 8px;
  }

  &.opaque {

    svg {
      width: 60px;
    }
  }

  &.show-cta {
    .pill {
      opacity: 1;
    }
  }
}

// Main
main {
  min-height: 100%;
  height: 100%;
}

// Sections
section {
  @include scut-clearfix;

  position: relative;
  padding-top: 48px;
  padding-bottom: 64px;
  padding-right: 24px;
  padding-left: 24px;

  @include media("<tablet") {
    padding-top: 44px;
  }


  > .wrapper {

    @include media(">=tablet") {
      @include scut-center-block;
      max-width: 960px;
    }

    @include media(">=tablet") {
      &.wrapper-flex {
        display: flex;
        align-items: center;
      }
    }
  }

  > header {
    position: absolute;
    display: flex;
    top: 0;
    height: 48px;
    width: 100%;
    margin-right: -24px;
    margin-left: -24px;
    background-color: $white;
    border-top: $ui-seperator-width solid $ui-seperator-color;
    transition: border .25s, top .25s;
    align-items: center;
    justify-content: space-between;

    @include media("<tablet") {
      height: 44px;
    }


    a {
      display: block;
      padding-right: 24px;
      padding-left: 24px;
      cursor: default;
      color: $black;
      line-height: 48px;
      text-decoration: none;
      opacity: 0;
      transition: background-color .25s, color .25s, opacity .25s;

      @include media("<tablet") {
        line-height: 44px;
      }
    }

    &.locked-bottom {
      position: fixed;
      top: auto;
      bottom: 0;
      background-color: $white;

      a {
        cursor: pointer;
        color: $red;
        opacity: 1;
      }
    }

    // &.locked-top {
    //   background-color:     $gray-light;
    //   border-bottom:        1px solid $gray;
    //   border-top:           1px solid $gray-light;
    //   position:             fixed;
    //   top:                  0;
    // }

    h2 {
      @include type-displays;

      width: 100%;
      margin: 0;

      @include media(">tablet") {
        @include type-displays;
      }
    }
  }
}

// Section Hero
.hero {
  z-index: 500;
  box-sizing: border-box;
  height: calc(100% - 72px);
  max-height: 768px;
  overflow: hidden;
  position: relative;
  background-color: #f7f9f8;
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/img/hero_couple_phone.jpg');

  @include media("<=phone") {
    background-image: url('/img/hero_couple_phone.jpg');
    background-size: 480px 453.5px;
    height: calc(100% - 88px);
  }

  @include media(">phone") {
    background-image: url('/img/hero_couple_desktop.jpg');
    height: calc(100% - 72px);
  }

  @include media(">=tablet") {
    background-image: url('/img/hero_couple_tablet.jpg');
    background-size: 1024px 680px;
    max-height: calc(100% - 96px);
  }

  @include media(">=desktop") {
    background-image: url('/img/hero_couple_desktop.jpg');
    background-size: 1440px 604.5px;
  }

  @include media(">=desktop", "portrait") {
    max-height: 768px;
  }

  @include media(">=hd") {
    background-size: contain;
    max-height: calc(100% - 96px);
  }

  h1 {
    @include type-displayl;

    text-align: center;
    margin-top: 48px;

    @include media("<=phone") {
      margin-top: 40px;
    }

    @include media(">phone", "<=tablet") {
      margin-top: 24px;
    }

    @include media(">=tablet") {
      margin-top: 192px;
    }

    @include media(">=tablet", "landscape") {
      margin-top: 80px;
    }

    @include media(">=desktop") {
      @include type-displaylll;
    }

    @include media(">=hd") {
      margin-top: 112px;
    }
  }

  .discover {
    @include scut-center-block;
    background: url($svg-icon-scrolldown) center;
    width: 22px;
    height: 22px;
  }

  .doodle {
    position: absolute;
    background-repeat: no-repeat;
  }

  .doodle-lamp {
    background-image: url($svg-doodle-lamp);
    width: 134px;
    height: 190px;
    left: 50%;
    top: 0;

    @include media("<=phone") {
      background-size: 67px 95px;
      width: 67px;
      height: 95px;
      margin-left: -33.5px;
      top: -2%;
    }

    @include media(">phone", "<tablet") {
      background-size: 67px 95px;
      width: 67px;
      height: 95px;
      margin-left: -33.5px;
      top: -5%;
    }

    @include media(">=tablet") {
      margin-left: -66px;
    }

    @include media(">=desktop") {
      top: 0;
    }

    @include media(">=hd") {
    }
  }

  .doodle-picture {
    background-image: url($svg-doodle-picture);
    width: 151px;
    height: 136px;

    @include media("<=phone") {
      background-size: 75.5px 68px;
      width: 75.5px;
      height: 68px;
      right: 6%;
      top: 11%;
    }

    @include media(">phone", "<tablet") {
      background-size: 75.5px 68px;
      width: 75.5px;
      height: 68px;
      right: 19%;
      top: 11%;
    }

    @include media(">=tablet") {
      right: 8%;
      top: 12%;
    }

    @include media(">=desktop") {
      right: 19%;
      top: 14%;
    }
  }

  .doodle-shelf {
    background-image: url($svg-doodle-shelf);
    width: 168px;
    height: 490px;
    right: -10%;
    bottom: 5%;

    @include media("<=phone") {
      background-size: 84px 245px;
      width: 84px;
      height: 245px;
    }

    @include media(">phone", "<tablet") {
      background-size: 84px 245px;
      width: 84px;
      height: 245px;
      right: 0;
    }

    @include media(">=tablet") {
      right: 0;
    }

    @include media(">=desktop") {
    }
  }

  .doodle-stool {
    background-image: url($svg-doodle-stool);
    width: 151px;
    height: 148px;
    bottom: 5%;
    left: -10%;

    @include media("<=phone") {
      background-size: 75.5px 74px;
      width: 75.5px;
      height: 74px;
    }

    @include media(">phone", "<tablet") {
      background-size: 75.5px 74px;
      width: 75.5px;
      height: 74px;
      left: 10%;
    }

    @include media(">=tablet") {
      left: -4%;
    }

    @include media(">=desktop") {
      left: 10%;
    }
  }

  .doodle-window {
    background-image: url($svg-doodle-window);
    width: 227px;
    height: 302px;
    left: 0;
    top: 15%;

    @include media("<=phone") {
      background-size: 113.5px 151px;
      width: 113.5px;
      height: 151px;
    }

    @include media(">phone", "<tablet") {
      background-size: 113.5px 151px;
      width: 113.5px;
      height: 151px;
    }

    @include media(">=tablet") {
    }

    @include media(">=desktop") {
      top: 20%;
    }
  }

  .pill {
    @include scut-center-transform(x);
    margin-top: 24px;

    @include media(">=tablet") {
      margin-top: 8px;
    }
  }
}

// Section summary
.summary {
  border-top: $ui-seperator-width solid $ui-seperator-color;
  padding-bottom: 112px;

  @include media(">=tablet") {
    .left,
    .right {
      width: 50%;
    }
  }
}

.smoor-iphone {
    @include scut-center-block(x);
    margin-top: 32px;
    margin-bottom: 32px;
    width: 206px;
    height: 426px;
    background: url($svg-data-hero);
    background-size: 206px 426px;
    position: relative;

    // @include media(">=tablet") {
    //   width: 412px;
    //   height: 852px;
    //   background-size: 412px 852px;
    // }
  }

.hero-screens {
  position: absolute;
  left: 9.5px;
  top: 47px;
  width: 188px;
  height: 334px;

  // @include media(">=tablet") {
  //   left: 19px;
  //   top: 93.5px;
  //   width: 376px;
  //   height: 668px;
  // }

  img {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    border-radius: 2px;

    @include media(">=tablet") {
      border-radius: 5px;
    }

    &:first-child {
      display: block;
    }
  }
}

// Section Landlords
.landlords {
  z-index: 600;
  padding-top: .1px;

  > header {
    transform: translateY(-48px);

    @include media("<tablet") {
      transform: translateY(-44px);
    }
  }
}

// Section Tenants
.tenants {
  z-index: 700;
  border-bottom: $ui-seperator-width solid $ui-seperator-color;
}

// Section Professionals
.professionals {
  z-index: 800;
  padding-top: 16px;
  border-bottom: $ui-seperator-width solid $ui-seperator-color;

  h3 {
    text-align: center;
  }
}

// Features

.features {
  @include scut-list-unstyled;

  border: $ui-seperator-width solid $ui-seperator-color;
  border-radius: 8px;
  margin-top: 32px;
  margin-bottom: 32px;

  @include media(">=tablet") {
    border: 0;
    border-radius: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  li {
    position: relative;
    border-bottom: $ui-seperator-width solid $ui-seperator-color;
    padding: 12px 16px 12px 64px;

    @include media("<tablet") {
      &:last-child {
        border: 0;
      }
    }

    @include media(">=tablet") {
      box-sizing: border-box;
      border-radius: 8px;
      border: $ui-seperator-width solid $ui-seperator-color;
      display: flex;
      align-items: center;
      width: 344px;
      height: 96px;
      margin: 8px;
      padding: 0 40px 0 96px;
    }
  }
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
  background-position: center;
  background-repeat: no-repeat;

  @include media(">=tablet") {
    height: 96px;
    width: 96px;
  }

  &.icon-boxes {
    background-image: url($svg-icon-boxes);
  }

  &.icon-chair {
    background-image: url($svg-icon-chair);
  }

  &.icon-clock {
    background-image: url($svg-icon-clock);
  }

  &.icon-coin {
    background-image: url($svg-icon-coin);
  }

  &.icon-compass {
    background-image: url($svg-icon-compass);
  }

  &.icon-document {
    background-image: url($svg-icon-document);
  }

  &.icon-house {
    background-image: url($svg-icon-house);
  }

  &.icon-keys {
    background-image: url($svg-icon-keys);
  }

  &.icon-mail {
    background-image: url($svg-icon-mail);
  }

  &.icon-search {
    background-image: url($svg-icon-search);
  }

  &.icon-sign {
    background-image: url($svg-icon-sign);
  }
}

// Team

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 32px;
}

.team-member {
  margin-bottom: 16px;

  img {
    width: 128px;
    height: 96px;
    border-radius: 8px;
  }
  h4 {
    @include type-headline;
    margin-top: 16px;
    margin-bottom: 0;
  }
}

// Get access
.get-access {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $red;
  color: $white;
  transition: opacity .5s;

  .close-get-access {
    @include scut-image-replace;

    position: absolute;
    top: 24px;
    right: 24px;
    color: $white;
    background-image: url($svg-icon-close-white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
  }
}

.get-access-active {
  overflow: hidden;
  z-index: 0;
  .get-access {
    opacity: 1;
    z-index: 1000;
  }
}

#mc_embed_signup {
  max-width: 480px;
  text-align: center;
  width: 100%;

  form,
  .mc-field-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .mc-field-group.input-group {
    display: block;
    text-align: left;
  }

  .mc-field-group {
    margin-bottom: 16px;
    width: 100%;

    input[type="text"],
    input[type="email"],
    select {
      @include type-body;

      outline: none;
      border: 1px solid $white;
      border-radius: 8px;
      background-color: $red;
      padding: 13px 16px;
      display: block;
      color: $white;
      box-sizing: border-box;
      width: 100%;

      &::placeholder {
        color: rgba($white, 0.5);
      }
    }

    select {
      height: 48px;
      -webkit-appearance: none;
      background: url($svg-icon-dropdown-white) no-repeat calc(100% - 10px) 50%;
    }

    label {
      margin-bottom: 12px;
    }
  }

  div.mce_inline_error {
    margin: 8px 0 0 !important;
    border-radius: 8px;
    background-color: darken($red, 16%) !important;
  }

  .response {
    margin-bottom: 16px;
  }
}

#mc-embedded-subscribe {
  color: $red;
  cursor: pointer;
}

// Copyright
.copyright {
  @include type-subhead;

  text-align: center;
}