// Resets
// Body
html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: $white;
}

// Header
body > header {
  position: fixed;
  display: flex;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  height: 84px;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  transition: background-color .25s, border .25s;
  align-items: center;
  justify-content: space-between;

  a:first-child {
    font-size: 2.0rem;
    font-weight: 900;
    display: flex;
    align-items: center;

    &:hover svg {
      opacity: 0.7;
    }
  }

  .pill {
    opacity: 0;
    transition: opacity .25s;
  }

  svg {
    width: 60px;
    transition: width .3s, opacity .3s;
    margin-right: 8px;
  }

  &.opaque {
    background-color:       $white;
    border-bottom:          $ui-seperator-width solid $ui-seperator-color;

    svg {
      width: 60px;
    }
  }

  &.show-cta {
    .pill {
      opacity: 1;
    }
  }
}

// Main
main {
  min-height: 100%;
}

// Sections
section {
  position: relative;
  padding-top: 48px;
  padding-bottom: 64px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: $white;

  @include media("<tablet") {
    padding-top: 44px;
  }


  > .wrapper {

    @include media(">=tablet") {
      @include scut-center-block;
      max-width: 960px;

      p {
        text-align: center;
        padding-left: 144px;
        padding-right: 144px;
      }
    }
  }

  > header {
    position: absolute;
    display: flex;
    top: 0;
    height: 48px;
    width: 100%;
    margin-right: -24px;
    margin-left: -24px;
    // background-color: $gray-light;
    border-top: $ui-seperator-width solid $ui-seperator-color;
    transition: border .25s, top .25s;
    align-items: center;
    justify-content: space-between;

    @include media("<tablet") {
      height: 44px;
    }


    a {
      display: block;
      padding-right: 24px;
      padding-left: 24px;
      cursor: default;
      color: $black;
      line-height: 48px;
      text-decoration: none;
      transition: background-color .25s, color .25s;

      @include media("<tablet") {
        line-height: 44px;
      }
    }

    &.locked-bottom {
      position: fixed;
      top: auto;
      bottom: 0;
      background-color: $white;

      a {
        cursor: pointer;
        color: $red;
      }
    }

    // &.locked-top {
    //   background-color:     $gray-light;
    //   border-bottom:        1px solid $gray;
    //   border-top:           1px solid $gray-light;
    //   position:             fixed;
    //   top:                  0;
    // }

    h2 {
      @include type-displays;

      width: 100%;
      margin: 0;

      @include media(">tablet") {
        @include type-displays;
      }
    }
  }
}

// Section Hero
.hero {
  z-index: 500;
  box-sizing: border-box;
  padding-bottom: 112px;

  @include media(">=desktop") {
  }


  @include media("<tablet", "landscape") {
  }


  h1 {
    @include type-displayl;

    margin-top: 44px;

    @include media(">=tablet") {
      text-align: center;
      margin-top: 32px;
      margin-bottom: 24px;
    }

    @include media(">=desktop") {
      @include type-displaylll;
    }


    @include media("<tablet") {
      margin-bottom: 0;
    }
  }

  .pill {
    @include scut-center-transform(x);
    margin-top: 24px;

    @include media(">=tablet") {
      margin-top: 8px;
    }
  }

  .smoor-iphone {
    @include scut-center-block(x);
    margin-top: 96px;
    margin-bottom: 32px;
    width: 206px;
    height: 426px;
    background: url($svg-data-hero);
    background-size: 206px 426px;
    position: relative;

    @include media(">=tablet") {
      margin-top: 128px;
      width: 412px;
      height: 852px;
      background-size: 412px 852px;
    }
  }
}

.hero-screens {
  position: absolute;
  left: 9.5px;
  top: 47px;
  width: 188px;
  height: 334px;

  @include media(">=tablet") {
    left: 19px;
    top: 93.5px;
    width: 376px;
    height: 668px;
  }

  img {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    border-radius: 2px;

    @include media(">=tablet") {
      border-radius: 5px;
    }

    &:first-child {
      display: block;
    }
  }
}

.hero-people {
  background-image: url($jpg-data-people-sprite);
  background-size: 272px 224px;
  position: absolute;

  @include media("<tablet") {
    background-size: 204px 168px;
  }

  &-tenant {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    left: -27%;
    top: 11%;

    @include media("<tablet") {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      left: -47%;
      top: 13%;
    }
  }

  &-landlord {
    width: 112px;
    height: 112px;
    border-radius: 56px;
    background-position: -160px -112PX;
    left: 105%;
    top: 15%;

    @include media("<tablet") {
      width: 84px;
      height: 84px;
      border-radius: 42px;
      background-position: -120px -84px;
      left: 105%;
      top: 17%;
    }
  }

  &-professional {
    width: 112px;
    height: 112px;
    border-radius: 56px;
    background-position: -160px 0;
    left: 55%;
    top: 39%;

    @include media("<tablet") {
      width: 84px;
      height: 84px;
      border-radius: 42px;
      background-position: -120px 0;
      left: 62%;
      top: 51%;
    }
  }
}

// Section Tenants
.tenants {
  z-index: 600;
  padding-top: .1px;

  > header {
    transform: translateY(-48px);

    @include media("<tablet") {
      transform: translateY(-44px);
    }
  }
}

// Section Landlords
.landlords {
  z-index: 700;
  border-bottom: $ui-seperator-width solid $ui-seperator-color;
}

// Section Professionals
.professionals {
  z-index: 800;
  padding-top: 16px;
  border-bottom: $ui-seperator-width solid $ui-seperator-color;

  h3 {
    text-align: center;
  }
}

// Features

.features {
  @include scut-list-unstyled;

  border: $ui-seperator-width solid $ui-seperator-color;
  border-radius: 8px;
  margin-top: 32px;
  margin-bottom: 32px;

  @include media(">=tablet") {
    border: 0;
    border-radius: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  li {
    position: relative;
    border-bottom: $ui-seperator-width solid $ui-seperator-color;
    padding: 12px 16px 12px 64px;

    @include media("<tablet") {
      &:last-child {
        border: 0;
      }
    }

    @include media(">=tablet") {
      box-sizing: border-box;
      border-radius: 8px;
      border: $ui-seperator-width solid $ui-seperator-color;
      display: flex;
      align-items: center;
      width: 344px;
      height: 96px;
      margin: 8px;
      padding: 0 40px 0 96px;
    }
  }
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
  background-position: center;
  background-repeat: no-repeat;

  @include media(">=tablet") {
    height: 96px;
    width: 96px;
  }

  &.icon-boxes {
    background-image: url($svg-icon-boxes);
  }

  &.icon-chair {
    background-image: url($svg-icon-chair);
  }

  &.icon-clock {
    background-image: url($svg-icon-clock);
  }

  &.icon-coin {
    background-image: url($svg-icon-coin);
  }

  &.icon-compass {
    background-image: url($svg-icon-compass);
  }

  &.icon-document {
    background-image: url($svg-icon-document);
  }

  &.icon-house {
    background-image: url($svg-icon-house);
  }

  &.icon-keys {
    background-image: url($svg-icon-keys);
  }

  &.icon-mail {
    background-image: url($svg-icon-mail);
  }

  &.icon-search {
    background-image: url($svg-icon-search);
  }

  &.icon-sign {
    background-image: url($svg-icon-sign);
  }
}

// Team

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 32px;
}

.team-member {
  margin-bottom: 16px;

  img {
    width: 128px;
    height: 96px;
    border-radius: 48px;
  }
  h4 {
    @include type-headline;
    margin-top: 16px;
    margin-bottom: 0;
  }
}

// Get access
.get-access {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: $red;
  color: $white;
  transition: opacity .5s;

  .close-get-access {
    @include scut-image-replace;

    position: absolute;
    top: 24px;
    right: 24px;
    color: $white;
    background-image: url($svg-icon-close-white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
  }
}

.get-access-active {
  overflow: hidden;
  .get-access {
    opacity: 1;
    z-index: 1000;
  }
}

#mc_embed_signup {
  max-width: 480px;
  text-align: center;

  form,
  .mc-field-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .mc-field-group {
    margin-bottom: 16px;

    input[type="text"],
    input[type="email"] {
      @include type-body;

      outline: none;
      border: 1px solid $white;
      border-radius: 8px;
      background-color: $red;
      padding: 13px 16px;
      display: block;
      color: $white;
      text-align: center;

      &::placeholder {
        color: rgba($white, 0.5);
        text-align: center;
      }
    }
  }

  div.mce_inline_error {
    margin: 8px 0 0 !important;
    border-radius: 8px;
    background-color: darken($red, 16%) !important;
  }

  .response {
    margin-bottom: 16px;
  }
}

#mc-embedded-subscribe {
  color: $red;
  cursor: pointer;
}

// Copyright
.copyright {
  @include type-subhead;

  text-align: center;
}