<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700">
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}" />
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
      <section class="hero">
        <h1>Free lettings for everyone. Forever.</h1>
        <div class="discover"></div>
        <div class="doodle doodle-window"></div>
        <div class="doodle doodle-lamp"></div>
        <div class="doodle doodle-picture"></div>
        <div class="doodle doodle-stool"></div>
        <div class="doodle doodle-shelf"></div>
      </section>
      <section id="summary" class="summary">
        <div class="wrapper wrapper-flex">
          <div class="left">
            <h2>Lettings and renting property made easy, safe and free.</h2>
            <p class="lead">List, rent, make offers, sign the contract and move in.</p>
            <p><a href="#get-access" class="pill pill-large pill-red">Get Early Access</a></p>
          </div>
          <div class="right">
            <div class="smoor-iphone">
            <div class="hero-screens">
              <img src="/img/hero_screen1.png" alt="screenshot 1">
              <img src="/img/hero_screen2.png" alt="screenshot 2">
              <img src="/img/hero_screen3.png" alt="screenshot 3">
              <img src="/img/hero_screen4.png" alt="screenshot 4">
              <img src="/img/hero_screen5.png" alt="screenshot 5">
            </div>
          </div>
          </div>
        </div>
      </section>
      </section>
      <section id="landlords" class="landlords">
        <!-- <header>
          <h2>
            <a href="#landlords">Landlords</a>
          </h2>
        </header> -->
        <div class="wrapper wrapper-flex">
          <div class="push-right">
            <h2>Landlords, everything you need in one place.</h2>
            <ul class="features">
              <li>
                <div class="icon icon-house"></div>
                List properties
              </li>
              <li>
                <div class="icon icon-search"></div>
                Find tenants
              </li>
              <li>
                <div class="icon icon-clock"></div>
                Manage viewings
              </li>
              <li>
                <div class="icon icon-sign"></div>
                Manage contracts
              </li>
              <li>
                <div class="icon icon-keys"></div>
                Organize move-ins and outs
              </li>
            </ul>
            <p><a href="#get-access" class="pill pill-large pill-red">Get Early Access</a></p>
          </div>
        </div>
      </section>
      <section id="tenants" class="tenants">
        <!-- <header>
          <h2>
            <a href="#tenants">Tenants</a>
          </h2> -->
        </header>
        <div class="wrapper">
          <h2>Tenants, find the perfect place to live without the headahes and fees.</h2>
          <ul class="features">
            <li>
              <div class="icon icon-house"></div>
              Find properties
            </li>
            <li>
              <div class="icon icon-clock"></div>
              Pick viewing times
            </li>
            <li>
              <div class="icon icon-document"></div>
              Neogtiate offers
            </li>
            <li>
              <div class="icon icon-sign"></div>
              Sign and manage contracts
            </li>
            <li>
              <div class="icon icon-keys"></div>
              Move in
            </li>
          </ul>
          <p><a href="#get-access" class="pill pill-large pill-red">Get Early Access</a></p>
        </div>
      </section>
      <section id="professionals" class="professionals">
        <div class="wrapper">
          <h3>Are you a lettings negotiator?</h3>
          <ul class="features">
            <li>
              <div class="icon icon-coin"></div>
              Earn a residual income
            </li>
            <li>
              <div class="icon icon-chair"></div>
              Be your own boss
            </li>
            <li>
              <div class="icon icon-compass"></div>
              Have complete career freedom
            </li>
          </ul>
          <p><a href="#get-access" class="pill pill-large pill-red">Get Early Access</a></p>
        </div>
      </section>
      <!-- <section id="team" class="team">
        <div class="wrapper">
          <h3>The Team</h3>
          <div class="team-list">
            <figure class="team-member">
              <img src="/img/team_imran.jpg" alt="Imran Ahmad">
              <h4>Imran Khan</h4>
              Co-founder<br>
              <span class="text-gray">Brand & Marketing</span>
            </figure>
            <figure class="team-member">
              <img src="/img/team_aneel.jpg" alt="Imran Ahmad">
              <h4>Aneel Yasim</h4>
              Co-founder<br>
              <span class="text-gray">Management & Support</span>
            </figure>
            <figure class="team-member">
              <img src="/img/team_umar.jpg" alt="Imran Ahmad">
              <h4>Umar Akram</h4>
              Co-founder<br>
              <span class="text-gray">Product & Growth</span>
            </figure>
            <figure class="team-member">
              <img src="/img/team_khayam.jpg" alt="Imran Ahmad">
              <h4>Khayam Khan</h4>
              Co-founder<br>
              <span class="text-gray">UX & UI</span>
            </figure>
          </div>
        </div>
      </section> -->
      <section class="copyright">
        &copy; Smoor
        <ul class="sosh">
          <li><a href="https://twitter.com/smoorapp" class="sosh-twitter">SmoorApp on Twitter</a></li>
          <li><a href="https://www.instagram.com/smoorapp/" class="sosh-instagram">SmoorApp on Instagram</a></li>
          <li><a href="https://www.facebook.com/SmoorApp/" class="sosh-facebook">SmoorApp on Facebook</a></li>
        </ul>
      </section>
    </main>
    {{ partial "footer.html" . }}
    {{ partial "get-access.html" . }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/{{ index .Site.Data.js.hash "main.js" }}"></script>
  </body>
</html>