<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700">
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}" />
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
      <section class="hero">
        <h1>Free lettings for everyone. Forever.</h1>
        <a href="#get-early-access" class="pill pill-large pill-red">Get Early Access</a>
        <div class="smoor-iphone"></div>
      </section>
      <section id="tenants" class="tenants">
        <header>
          <h2>
            <a href="#tenants">Tenants</a>
          </h2>
        </header>
        <div class="wrapper">
          <p>Everything a tenant needs. For free.</p>
          <ul class="features">
            <li>
              <div class="icon icon-house"></div>
              Find properties
            </li>
            <li>
              <div class="icon icon-clock"></div>
              Pick viewing times
            </li>
            <li>
              <div class="icon icon-document"></div>
              Neogtiate offers
            </li>
            <li>
              <div class="icon icon-sign"></div>
              Sign and manage contracts
            </li>
            <li>
              <div class="icon icon-keys"></div>
              Move in
            </li>
          </ul>
        </div>
      </section>
      <section id="landlords" class="landlords">
        <header>
          <h2>
            <a href="#landlords">Landlords</a>
          </h2>
        </header>
        <div class="wrapper">
          <p>Everything a landlord needs. For free.</p>
          <ul class="features">
            <li>
              <div class="icon icon-house"></div>
              List properties
            </li>
            <li>
              <div class="icon icon-search"></div>
              Find tenants
            </li>
            <li>
              <div class="icon icon-clock"></div>
              Manage viewings
            </li>
            <li>
              <div class="icon icon-document"></div>
              Neogtiate offers
            </li>
            <li>
              <div class="icon icon-sign"></div>
              Sign and manage contracts
            </li>
            <li>
              <div class="icon icon-boxes"></div>
              Create inventories
            </li>
            <li>
              <div class="icon icon-keys"></div>
              Move in
            </li>
          </ul>
        </div>
      </section>
      <section id="professionals" class="professionals">
        <div class="wrapper">
          <h3>Are you a property professional?</h3>
          <ul class="features">
            <li>
              <div class="icon icon-coin"></div>
              Earn a residual income
            </li>
            <li>
              <div class="icon icon-chair"></div>
              Be your own boss
            </li>
            <li>
              <div class="icon icon-compass"></div>
              Have complete career freedom
            </li>
          </ul>
        </div>
      </section>
      <section class="copyright">&copy; Smoor</section>
    </main>
    {{ partial "footer.html" . }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/{{ index .Site.Data.js.hash "main.js" }}"></script>
  </body>
</html>