
html {
  font-size : 62.5%;
}

body {
  @include type-body();
  color : $black;
}

h1 {
  @include type-displaylll();
}

h2 {
  @include type-displayl();
}

h3 {
  @include type-displaym();
}

h4 {
  @include type-displays();
}

p.lead {
  @include type-displays();
  font-weight: normal;
}

a {
  color           : $red;
  text-decoration : none;
}

.text-gray {
  color: $gray-dark;
}